body
{
background-color:#BE1E2D;
}
@font-face
{
font-family: superbro;
src: url(../font/supra.woff);
}
@font-face
{
font-family: ora;
src: url(../font/orator_std.woff);
}
.supre
{
font-family: superbro;
font-size: 70pt;
color: #E2CDC4;
}
.supertitle
{
position: absolute;
top:15%;
width:100%;
text-align: center;


}
.cresol
{
position:relative;

font-family: ora;
color: #A7A9AC;
font-size: 38pt;

transform:scale(2,1); /* W3C */
    -webkit-transform:scale(1.25,1); /* Safari and Chrome */
    -moz-transform:scale(1.25,1); /* Firefox */
    -ms-transform:scale(1.25,1); /* IE 9 */
    -o-transform:scale(1.25,1); /* Opera */


}
.svgcirc
{
position:relative;
top:-35pt;
left:-10pt;
z-index:-1;
}

.svgmoon
{
position: relative;
top:-330pt;
left:-270pt;

z-index:-1;
}